<div class="reviews">
  <div class="p-card p-p-5">
    <div class="reviews-header p-d-inline-flex p-mb-4">
      <h2 class="p-text-bold p-my-0">
        Reviews
      </h2>
    </div>
    <div *ngIf="culturalOffering && !!culturalOffering.numReviews && culturalOffering.numReviews > 0; else noReviews">
      <div class="p-grid p-m-0 p-p-0">
        <div class="p-col-12 p-sm-6 p-md-3 p-text-center">
          <div class="p-d-inline-flex p-mt-3 p-mb-0">
            <i class="pi pi-users" style="font-size: 2rem"></i>
            <div class="p-ml-2 p-flex-wrap">
              <p class="p-text-normal p-my-0 num-reviews">{{culturalOffering?.numReviews}}</p>
            </div>
          </div>
          <div class="p-text-center">
            <p class="rating p-my-1 p-text-light">{{overallRating}}</p>
          </div>
          <div>
            <p-rating
                      id="rating-stars"
                      [ngModel]="culturalOffering.overallRating"
                      [readonly]="true"
                      [cancel]="false"
            ></p-rating>
          </div>
        </div>
        <div class="p-d-none p-d-md-block p-md-6">
          <div class="p-grid p-m-0 p-p-0">
            <div class="p-col-1 p-as-center">
              <small class="rating-number">5</small>
            </div>
            <div class="p-col">
              <p-progressBar [showValue]="false" [value]="getReviewNumberPercentage(reviewNumbers.fiveStars)"></p-progressBar>
            </div>
          </div>
          <div class="p-grid p-m-0 p-p-0">
            <div class="p-col-1 p-as-center">
              <small class="rating-number">4</small>
            </div>
            <div class="p-col">
              <p-progressBar [showValue]="false" [value]="getReviewNumberPercentage(reviewNumbers.fourStars)"></p-progressBar>
            </div>
          </div>
          <div class="p-grid p-m-0 p-p-0">
            <div class="p-col-1 p-as-center">
              <small class="rating-number">3</small>
            </div>
            <div class="p-col">
              <p-progressBar [showValue]="false" [value]="getReviewNumberPercentage(reviewNumbers.threeStars)"></p-progressBar>
            </div>
          </div>
          <div class="p-grid p-m-0 p-p-0">
            <div class="p-col-1 p-as-center">
              <small class="rating-number">2</small>
            </div>
            <div class="p-col">
              <p-progressBar [showValue]="false" [value]="getReviewNumberPercentage(reviewNumbers.twoStars)"></p-progressBar>
            </div>
          </div>
          <div class="p-grid p-m-0 p-p-0">
            <div class="p-col-1 p-as-center">
              <small class="rating-number">1</small>
            </div>
            <div class="p-col">
              <p-progressBar [showValue]="false" [value]="getReviewNumberPercentage(reviewNumbers.oneStar)"></p-progressBar>
            </div>
          </div>
        </div>
        <div class="p-col-12 p-sm-6 p-md-3 p-text-center p-as-center">
          <p *ngIf="getUserRole() === 'MODERATOR'; else userAddReview"
             class="p-text-light">You are not able to review the offering since you’re logged in as a moderator.</p>
          <ng-template #userAddReview>
            <p *ngIf="!!userReview.id">Click on the button below to view and edit your review.</p>
            <button class="p-button blue-button review-button"
                    [label]="!userReview.id ? 'Write a review' : 'Edit review'"
                    (click)="onWriteReviewClick()"
                    pButton
            ></button>

          </ng-template>
        </div>
      </div>
      <hr class="p-mx-6 p-my-5">
      <div infinite-scroll
           (scrolled)="onScrollDown()">
        <div *ngFor="let review of reviews">
          <app-review-element [review]="review" (reviewDeleted)="onReviewDeleted()"></app-review-element>
        </div>
        <div class="p-text-center" *ngIf="isReviewsLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </div>
    </div>
    <ng-template #noReviews>
      <div class="p-text-center">
        <h2 class="p-text-light">
          There are no reviews for this cultural offering.
        </h2>
      </div>
      <div *ngIf="getUserRole() === 'USER'" class="p-text-center">
        <h2 class="p-text-light">
          Be the first person to write a review.
        </h2>
        <button class="p-button-lg blue-button review-button"
                label="Write a review"
                (click)="onWriteReviewClick()"
                pButton
        ></button>
      </div>
    </ng-template>
  </div>
  <p-dialog header="Write a review" [(visible)]="isAddDialogOpen" [modal]="true" (onHide)="clearReviewToAdd()">
    <div class="p-d-flex p-ai-center">
      <h4 class="p-mr-4 p-text-bold">Rating</h4>
      <p-rating id="rating-stars-edit" [(ngModel)]="userReview.rating"></p-rating>
    </div>
    <h4 class="p-mb-1 p-text-bold">Comment</h4>
    <textarea [maxLength]="150"
              id="review-comment"
              [(ngModel)]="userReview.comment"
              style="width: 100%; max-width: 50vw; min-width: 25vw; min-height: 60px; max-height: 100px"
              placeholder="Tell us your comments..."
              pInputTextarea></textarea>
    <h4 class="p-mb-1 p-text-bold">Photos</h4>
    <p-progressBar *ngIf="uploadLoading" mode="indeterminate"></p-progressBar>
    <p-fileUpload *ngIf="!userReview.photos || userReview.photos.length === 0; else uploadedPhotos"
                  [multiple]="true"
                  accept="image/*"
                  [customUpload]="true"
                  (uploadHandler)="onUploadStart($event)"
                  name="photos[]"
    ></p-fileUpload>
    <ng-template #uploadedPhotos>
      <div class="p-grid p-p-0 p-m-0">
        <div class="p-col p-as-center" *ngFor="let photo of userReview.photos">
          <div class="review-photo-container p-text-center">
            <img class="review-photo" [src]="getThumbnailUrl(photo)" alt="review photo">
          </div>
        </div>
        <div class="p-col p-as-center p-text-right">
          <button class="p-button p-button-outlined blue-button-outlined blue-button-text p-button-text" (click)="onClickReupload()" label="Reupload" pButton></button>
        </div>
      </div>
    </ng-template>
    <button class="p-button blue-button p-mt-2 send-review"
            id="review-submit"
            [label]="!userReview.id ? 'Send' : 'Edit'"
            (click)="onClickSend()"
            pButton
    ></button>
  </p-dialog>
  <p-galleria [value]="galleriaValue" [(visible)]="galleriaVisible" [(activeIndex)]="galleriaActiveIndex"
              [fullScreen]="true" [showItemNavigators]="true" [baseZIndex]="1013"
              [showThumbnails]="false"
  >

    <ng-template pTemplate="item" let-item>
      <img [src]="getPhotoUrl(item)" style="max-width: 80vw; max-height: 80vh; display: block; " alt="preview">
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="p-grid p-nogutter p-justify-center">
        <img [src]="getThumbnailUrl(item)" style="display: block;" alt="thumbnail">
      </div>
    </ng-template>

  </p-galleria>
</div>
