<div>
  <div class="list-header p-d-flex p-ai-center">
    <h2 class="p-text-light">Showing all offerings</h2>
    <button class="p-button p-ml-auto new-offering" routerLink="/create-offering" label="NEW OFFERING" pButton></button>
  </div>
    <div class="p-d-flex p-ai-center">
      <h4 class="p-text-light">Sort by</h4>
      <p-menu [model]="sortItems" [popup]="true" #menu></p-menu>
      <button class="p-button p-button-text p-button-secondary p-p-1 sort-button"
              [label]="sortType.label"
              (click)="menu.toggle($event)"
              pButton></button>

      <div class="p-d-flex p-ml-auto p-ai-center filter">
        <i class="pi pi-filter"></i>
        <button class="p-button p-button-text p-button-secondary p-p-1 p-ml-1"
                [label]="!!filter.rating ? filter.rating[0] + '-' + filter.rating[1] : 'RATING'"
                (click)="isOpenRatingDialog = true"
                pButton></button>
        <button class="p-button p-button-text p-button-secondary p-p-1 p-ml-1"
                [label]="'REVIEWS'"
                pButton></button>
        <button class="p-button p-button-text p-button-secondary p-p-1 p-ml-1"
                [label]="'CATEGORY'"
                pButton></button>
      </div>
    </div>
    <app-list-element *ngFor="let culturalOffering of culturalOfferings"
                      [culturalOffering]="culturalOffering"
                      (offeringDeleted)="onOfferingDeleted()"
    >
    </app-list-element>
  <p-dialog [(visible)]="isOpenRatingDialog" (onHide)="resetRating()">
    <h3 class="p-text-light">Rating range</h3>
    <p-slider class="p-mt-5" [min]="0" [max]="5" [(ngModel)]="filter.rating" [range]="true"></p-slider>
    <button class="p-button p-mt-2" label="Save" (click)="saveRating()" pButton></button>
  </p-dialog>
</div>
