.list-header {
  padding: 1vh 15vw;
  border-bottom: 1px solid #584F51;
  background-color: #EFE4E6;
}

.list-content {
  padding: 1vh 15vw;
}

::ng-deep .sort-button {
  margin-bottom: 3px !important;
}

.filter {
  border-radius: 5px;
  border: .5px solid #584F51;
  padding: 4px;
  background-color: #EFE4E6;
}

::ng-deep .filter-dialog-content {
  width: 70vw !important;
  height: 50vh !important;
  overflow: hidden;
}

::ng-deep .no-rating {
  margin-bottom: 0;
  margin-left: auto;
}

::ng-deep .p-field-checkbox {
  user-select: none;
}

::ng-deep .distance-selection {
  margin-left: auto;
}

:host {
  ::ng-deep {
    p-autoComplete {
      padding: 0;
    }
    p-autoComplete .p-autocomplete,
    p-autoComplete .p-autocomplete-input {
      width: 100%;
    }
    .ng-select .ng-select-container .ng-value-container .ng-input>input {
      cursor: pointer;
    }
  }
}
