<div>
  <div class="list-header p-d-flex p-ai-center">
    <h2 class="p-text-light">{{filterSet || !!searchQuery ? 'Search and filter results' : 'Showing all offerings'}}</h2>
    <button class="p-button p-ml-auto new-offering blue-button"
            *ngIf="getUserRole() === 'MODERATOR'"
            routerLink="/create-offering"
            label="NEW OFFERING"
            pButton
    ></button>
  </div>
  <div class="list-content"
       (scrolled)="onScrollDown()"
       infinite-scroll
  >
    <div class="p-d-flex p-ai-center">
      <h4 class="p-text-light">Sort by</h4>
      <p-menu [model]="sortItems" [popup]="true" #menu></p-menu>
      <button class="p-button p-button-text p-button-secondary p-p-1 sort-button"
              [label]="sortType.label"
              (click)="menu.toggle($event)"
              pButton></button>
      <div class="p-d-flex p-ml-auto">
        <button class="p-button p-button-icon p-button-text p-button-plain p-button-rounded"
                icon="pi pi-filter"
                (click)="openFilterDialog()"
                pButton
                pRipple
                id="filter-btn"
        ></button>
        <button class="p-button p-button-text p-button-plain"
                label="RESET"
                (click)="resetFilter()"
                pButton
                pRipple
                *ngIf="filterSet"
                id="reset-filter-btn"
        ></button>
      </div>
    </div>
    <div *ngIf="culturalOfferings.length > 0; else noOfferings">
      <app-list-element *ngFor="let culturalOffering of culturalOfferings; let index = index;"
                        [culturalOffering]="culturalOffering"
                        (offeringDeleted)="onOfferingDeleted()"
                        [index]="index"
      >
      </app-list-element>
    </div>
    <ng-template #noOfferings>
      <h2 class="p-text-bold" *ngIf="!isOfferingsLoading; else offeringsLoadingSpinner">
        {{filterSet || !!searchQuery ? 'No results...' : 'No offerings...'}}
      </h2>
      <ng-template #offeringsLoadingSpinner>
        <div class="p-text-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </ng-template>
    </ng-template>
  </div>
  <p-dialog header="Filter"
            [resizable]="false"
            [(visible)]="isFilterDialogOpen"
            [modal]="true"
            (onHide)="restoreFilter()"
  >
    <div class="filter-dialog-content">
      <div class="p-grid p-p-0 p-m-0">
        <div class="p-col-12 p-md-4 p-px-3">
          <div class="p-d-flex p-ai-center">
            <h3 class="p-text-normal p-my-0">Rating: {{filter.rating[0]}}-{{filter.rating[1]}}</h3>
            <div class="p-field-checkbox no-rating">
              <p-checkbox [(ngModel)]="filter.noReviews" [binary]="true" inputId="noReviews"></p-checkbox>
              <label for="noReviews">No reviews</label>
            </div>
          </div>
          <hr class="p-mb-4">
          <div>
            <p-slider [(ngModel)]="filter.rating"
                      [range]="true"
                      [min]="1"
                      [max]="5"
                      [step]="0.1"
                      [draggable]="false"
            ></p-slider>
          </div>
        </div>
        <div class="p-col-12 p-md-4 p-px-3">
          <div class="p-d-flex p-ai-center">
            <h3 class="p-text-normal p-my-0">Reviews</h3>
          </div>
          <hr class="p-mb-4">
          <div class="p-field-checkbox">
            <p-checkbox [binary]="true"
                        inputId="noReviews"
                        [(ngModel)]="onlyReviews"
                        id="only-reviews-cbx"
            ></p-checkbox>
            <label for="noReviews">Only with reviews</label>
          </div>
        </div>
        <div class="p-col-12 p-md-4 p-px-3">
          <div class="p-d-flex p-ai-center">
            <h3 class="p-text-normal p-my-0">Category</h3>
          </div>
          <hr class="p-mb-4">
          <div class="p-grid">
            <div class="p-col-6">
              <ng-select class="custom"
                         bindLabel="name"
                         [(ngModel)]="filter.category"
                         [items]="categories"
                         [searchable]="false"
                         [virtualScroll]="true"
                         [loading]="categoriesLoading"
                         (clear)="resetSubcategories()"
                         (scrollToEnd)="getCategories()"
                         (ngModelChange)="categoryChosen($event.id)"
                         id="category"
              ></ng-select>
            </div>
            <div class="p-col-6">
              <ng-select class="custom"
                         bindLabel="name"
                         [(ngModel)]="filter.subcategory"
                         [items]="subcategories"
                         [searchable]="false"
                         [virtualScroll]="true"
                         [loading]="subcategoriesLoading"
                         (scrollToEnd)="getSubcategories()"
                         [disabled]="!filter.category"
                         id="subcategory"
              ></ng-select>
            </div>
          </div>
        </div>
        <div class="p-col-12 p-mt-6 p-px-3">
          <div class="p-d-flex p-ai-center">
            <h3 class="p-text-normal p-my-0">Location</h3>
            <div class="p-field-checkbox no-rating">
              <p-checkbox [(ngModel)]="filterByLocation" [binary]="true" inputId="byLocation"></p-checkbox>
              <label for="byLocation">By location</label>
            </div>
          </div>
          <hr class="p-mb-4">
          <div class="p-grid">
            <div class="p-col-12 p-md-3">
              <p-selectButton [options]="[{label: 'Relative', value: true}, {label: 'Absolute', value: false}]"
                              [(ngModel)]="isLocationRelative"
                              [disabled]="!relativeLocation || !filterByLocation"
              ></p-selectButton>
            </div>
            <div class="p-col-12 p-md-4">
              <p-autoComplete id="address"
                              placeholder="Address"
                              [(ngModel)]="absoluteAddress"
                              *ngIf="!isLocationRelative; else relativeAddressDiv"
                              field="display_name"
                              [minLength]="2"
                              [suggestions]="recommendations"
                              (completeMethod)="getAddress($event)"
                              (onSelect)="addressSelected($event)"
                              (onBlur)="addressLostFocus()"
                              [disabled]="!filterByLocation"
                              pInputText
              >
                <ng-template let-recommendation pTemplate="item.display_name">
                  <div style="width: 4vw">{{ recommendation.display_name }}</div>
                </ng-template>
              </p-autoComplete>
              <ng-template #relativeAddressDiv>
                <div class="p-ml-2 p-flex-wrap">
                  <p class="p-text-normal p-my-0"
                  >{{relativeAddress}}</p>
                </div>
              </ng-template>
            </div>
            <div class="p-col-12 p-md-5">
              <p-selectButton class="distance-selection"
                              [options]="[{label: '2km', value: 2}, {label: '5km', value: 5}, {label: '10km', value: 10},
                                        {label: '20km', value: 20}, {label: '50km', value: 50}]"
                              [(ngModel)]="locationDistance"
                              [disabled]="!filterByLocation"
              ></p-selectButton>
            </div>
          </div>
        </div>
      </div>

    </div>
    <p-footer>
      <button class="p-button blue-button"
              label="Save filter"
              (click)="saveFilter()"
              pButton
              id="save-filter-btn"
      ></button>
    </p-footer>
  </p-dialog>
</div>
