<form (submit)="onSubmit()" [formGroup]="categoryForm">
  <p-card class="flat-card">
    <div class="p-col">
      <h2>Create a category</h2>
      <small class="p-text-light">Subcategories can be added later by editing a category</small>
      <div class="card p-grid">
        <div class="p-fluid p-col">
          <div class="p-field p-col">
              <span class="p-float-label">
                 <input autocomplete="off"
                        formControlName="categoryName"
                        id="categoryName"
                        pInputText
                        type="text">
                <label for="name">Category name</label>
              </span>
          </div>
        </div>
      </div>
      <div class="p-text-right">
        <button class="p-button p-button primary" label="Create" pButton type="submit"></button>
      </div>

    </div>
  </p-card>
</form>



