<div>
  <div class="p-card-header">
    <div class="p-grid p-justify-center">
      <p class="logo p-mt-5 p-mb-0">kultura</p>
    </div>
    <div class="p-grid p-justify-center">
      <h2 class="p-mt-1 p-mb-3 p-text-light">Hi, {{ name }}</h2>
    </div>
  </div>
  <div class="p-card-content">
    <form [formGroup]="passwordGroup" (ngSubmit)="onClickSignUp()">
      <div class="p-grid p-px-5">
        <div class="p-col-6">
            <span class="p-float-label">
              <input type="password"
                     id="password"
                     name="password"
                     autocomplete="off"
                     formControlName="password"
                     pPassword>
              <label for="password">Password</label>
            </span>
        </div>
        <div class="p-col-6">
            <span class="p-float-label">
              <input type="password"
                     id="repeatPassword"
                     name="repeatPassword"
                     autocomplete="off"
                     formControlName="repeatPassword"
                     [feedback]="false"
                     pPassword>
              <label for="repeatPassword">Repeat</label>
            </span>
        </div>
        <div class="p-col-12 p-mt-0">
          <small class="p-text-light">Enter your password here :)</small>
        </div>
      </div>
      <div class="p-grid p-px-5 p-justify-end p-mt-5">
        <div class="p-col">
          <button type="button"
                  class="p-button-text blue-button-text"
                  label="Back"
                  (click)="onClickBack()"
                  pButton></button>
        </div>
        <div class="p-col p-text-right">
          <button type="submit"
                  class="p-button blue-button"
                  label="Sign in"
                  id="proceed"
                  pButton></button>
        </div>
      </div>
    </form>
  </div>
</div>
