.list-view {
  width: 100%;
  height: 100%;
}

.collapse-button {
  border: 1px #584F51 solid;
  background-color: white;
  border-radius: 10em;
}

.sidebar-header {
  background-color: #FCF7F8;
  border-bottom: 1px rgba(0, 0, 0, .25) solid;
}

.no-wrap {
  white-space: nowrap;
}
