<div>
  <div class="sidebar-header p-grid p-ai-center p-m-0 p-p-0">
    <div class="p-col p-pl-4 p-text-center p-pb-sm-1 p-text-md-left">
      <h3 class="p-text-light no-wrap">
        Cultural offerings
      </h3>
    </div>
    <div class="p-col p-text-center p-pr-4">
      <button type="button"
              class="collapse-button p-button-text"
              icon="pi pi-angle-up"
              label="Collapse"
              (click)="onClickCollapse()"
              pButton>
      </button>
    </div>
  </div>
  <app-offering-item *ngFor="let marker of markers" [culturalOfferingMarker]="marker"></app-offering-item>
</div>
