<div class="map" #map></div>
<button *ngIf="getUserRole() === 'MODERATOR'"
        type="button"
        class="primary add-button blue-button p-button-rounded p-button-raised p-button-icon p-ripple"
        icon="pi pi-plus"
        routerLink="/create-offering"
        pButton
></button>
<p-card class="view-offerings p-p-0"
        *ngIf="showRegularOfferings"
        [ngClass]="{'view-offerings-open': viewOfferings, 'view-offerings-closed': !viewOfferings}"
        @inOutAnimation>
  <button type="button"
          class="p-my-0 view-offering-button p-button-raised p-button p-button-text p-button-plain"
          icon="pi pi-list"
          label="View offerings"
          *ngIf="!viewOfferings; else offeringsPanel"
          (click)="onClickViewOfferings()"
          pButton
  ></button>
  <ng-template #offeringsPanel>
    <div>
      <app-offerings-list (clickCollapse)="onClickCollapse()"></app-offerings-list>
    </div>
  </ng-template>
</p-card>
