<p-card class="colored-card"
        (mouseenter)="hoverStarted()"
        (mouseleave)="hoverEnded()"
        [styleClass]="hovering ? 'hovering-card' : ''"
        (click)="onClickCard()">
  <div class="p-grid p-m-0 p-p-0">
    <div class="p-col p-m-0 p-pl-3 p-py-0 p-pr-0">
      <div class="p-grid p-m-0 p-p-0">
        <div class="p-col-8 p-px-0 p-pb-0 p-pt-3 p-m-0">
          <h5 class="p-my-0 p-mt-3 p-text-bold">
            {{
              nameLength > 13 ?
              (culturalOfferingMarker?.culturalOffering?.name | slice:0:13) + '...' :
              culturalOfferingMarker?.culturalOffering?.name
            }}
          </h5>
          <h5 class="p-mt-1 p-mb-2 p-text-normal p-d-none p-d-lg-inline">
            {{
              addressLength > 25 ?
              (culturalOfferingMarker?.culturalOffering?.address | slice:0:25) + '...' :
              culturalOfferingMarker?.culturalOffering?.address
            }}
          </h5>
          <div class="h-100 p-grid p-p-0 p-m-0 p-ai-end p-d-none p-d-md-inline">
            <div class="p-grid p-p-0 p-m-0">
              <div class="p-col-4 p-d-inline-flex p-pl-0">
                <i class="pi pi-star"></i>
                <small class="p-ml-1 p-text-light">{{culturalOfferingMarker?.culturalOffering?.overallRating}}</small>
              </div>
              <div class="p-col-4 p-d-inline-flex">
                <i class="pi pi-comment"></i>
                <small class="p-ml-1 p-text-light">{{culturalOfferingMarker?.culturalOffering?.numReviews}}</small>
              </div>
              <div class="p-col-4 p-d-inline-flex">
                <i class="pi pi-images"></i>
                <small class="p-ml-1 p-text-light">{{culturalOfferingMarker?.culturalOffering?.numPhotos}}</small>
              </div>
            </div>
          </div>
        </div>
      <div class="p-col-4 p-m-0 p-pb-0 p-pl-0 p-pr-3 p-pt-3 p-text-right">
        <div class="p-d-none p-d-md-inline">
          <small class="p-text-light">
            {{ numSubscribers }}
          </small>
          <i class="pi pi-user"></i>
        </div>
        <div><small class="p-text-normal">
          {{
            subcategoryNameLength > 13 ?
            (culturalOfferingMarker?.culturalOffering?.subcategoryName | slice:0:13) + '...' :
            culturalOfferingMarker?.culturalOffering?.subcategoryName
          }}
        </small></div>
      </div>
      </div>
    </div>
    <div class="p-col-fixed p-p-0 p-m-0 p-d-none p-d-lg-block" style="width: 100px">
      <img class="main-photo" [src]="photoUrl" alt="Main photo">
    </div>
  </div>
</p-card>
