<div class="p-grid panel">
  <div class="p-col-3">
    <div class="menu">
      <button class=" p-button-text p-button-plain" icon="pi pi-users" label="Moderators" pButton pRipple routerLink="/"
              type="button"></button>
      <button class=" p-button-text p-button-plain" icon="pi pi-th-large" label="Categories" pButton pRipple
              type="button" routerLink="admin-panel/categories"></button>
    </div>
  </div>
  <div class="p-col">
    <router-outlet></router-outlet>
  </div>
  <div class="p-col-1"></div>
</div>
