
<div class="p-grid">
  <div class="p-col-3">
    <p>Odje ce bude ono da se klikce </p>
  </div>
  <div class="p-col">
    <div class="card">
      <h5>Vertical</h5>
      <div class="p-fluid">
        <div class="p-field">
          <label for="firstname1">Firstname</label>
          <input id="firstname1" type="text" pInputText
                 [(ngModel)]="moderator.firstName">
        </div>
        <div class="p-field">
          <label for="lastname1">Lastname</label>
          <input id="lastname1" type="text" pInputText>
        </div>
      </div>
    </div>

    <div class="card">
      <h5>Vertical and Grid</h5>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="firstname2">Firstname</label>
          <input id="firstname2" type="text" pInputText>
        </div>
        <div class="p-field p-col">
          <label for="lastname2">Lastname</label>
          <input id="lastname2" type="text" pInputText>
        </div>
      </div>
    </div>
    <div class="p-field p-col">
      <button pButton type="button" label="Submit" (click)="onSubmit()"></button>
    </div>
  </div>

  <div class="p-col-1"></div>
</div>

