h2 {
  display: block;
  margin: 0 0 0 0.55em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

small {
  display: block;
  margin: 0 0 1.67em 1.5em;
}

::ng-deep .flat-card .p-card {
  margin-top: 15vh !important;
  margin-left: 15vw !important;
  margin-right: 15vw !important;
}

.menu {
  margin-left: 0.5em;
  margin-top: 1.5em;
  text-align: center;
  display: block;
}

.p-button-plain {
  display: block;
  width: 100%;
}

.panel {
  margin-right: 0;
  padding-top: 2.3em
}

.p-button-lg {
  background: rgb(39, 93, 173) !important;
}
