/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #FCF7F8;
  font-family: 'Roboto';
  color: #584F51;
}

body {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.logo {
  font-family: RopaSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #275DAD;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-button:focus {
  box-shadow: none !important;
}
