<div class="m-top p-grid p-mx-0 p-justify-center centered-grid">
    <div class="p-col-12 p-sm-9 p-md-9 p-lg-8 p-xl-4">
        <div class="p-card p-p-3">
            <div class="p-card p-grid p-p-3 p-mb-3">
                    <span class="p-col-12 p-sm-12 p-md-4 p-lg-4 p-xl-4">
                        <ngx-avatar [size]="150" [name]="user.firstName+' '+ user.lastName"></ngx-avatar>
                    </span>
                    <span class="p-col-12 p-sm-12 p-md-8 p-lg-8 p-xl-8 p-p-3">
                            <div class="p-field  large-text">
                                <b>First name:</b>{{user.firstName}}
                            </div> 
                            <hr>
                            <div class="p-field large-text">
                                <b>
                                    Last name: 
                                </b>
                                {{user.lastName}}
                            </div> 
                            <hr>
                            <div class="p-field large-text">
                                <b>
                                    E-mail: 
                                </b>
                                {{user.email}}
                            </div>     
                    </span>
            </div>
            <p-tabView>
                <p-tabPanel header="Edit informations">
                    <div class="p-fluid">

                        <div class="p-field">
                            <label>New first name</label>
                            <input type="text" pInputText />
                        </div>  
                        <div class="p-field">
                            <label>New last name</label>
                            <input type="text" pInputText />
                        </div>  
                        <div class="p-field">
                            <label>New e-mail</label>
                            <input type="text" pInputText />
                        </div>  
                        <div class="p-flex-row-reverse">
                            <button type="submit"
                                class="p-button"
                                label="Submit"
                                pButton
                            ></button>
                        </div>   
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Edit passwords">
                    <div class="p-fluid">

                        <div class="p-field">
                            <label>Old password</label>
                            <input type="password" pInputText />
                        </div>  
                        <div class="p-field">
                            <label>New password</label>
                            <input type="password" pInputText />
                        </div>  
                        <div class="p-field">
                            <label>Confirm password</label>
                            <input type="password" pInputText />
                        </div>    
                        <div class="p-flex-row-reverse">
                            <button type="submit"
                                class="p-button"
                                label="Submit"
                                pButton
                            ></button>
                        </div>  
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>