

.m-top{
    margin-top: 15px;
}

.large-text{
    font-size: 20px;
}

// .colored-card{
//     border-bottom: $primaryColor 1px solid;
//     border-right: $primaryColor 1px solid;
// }
.error-card{
    background-color: #cc0000;
    color: white;
}