<p-card class="category-card" (click)="onClickCategory()">
  <div class="p-grid p-m-0 p-p-0 ">
    <div class="p-col-fixed">
<!--      <ngx-avatar class="ng-avatar"-->
<!--                  bgColor="#275DAD"-->
<!--                  [name]="category.name"-->
<!--      >-->
<!--      </ngx-avatar>-->
    </div>
    <div class="p-col p-ml-6">
      <h2 class="p-text-bold p-m-0">
        {{category.name}}
      </h2>
    </div>
    <div class="p-col p-text-right p-as-end">
      <div class="p-d-block button-group p-mb-3">
        <button class="p-button p-button-rounded p-button-icon p-button-danger"
                icon="pi pi-trash"
                (click)="onClickDelete()"
                pButton></button>
        <button class="p-button p-button-rounded p-button-icon p-ml-3"
                icon="pi pi-pencil"
                (click)="onClickEdit()"
                pButton></button>
      </div>
    </div>
  </div>
</p-card>
