<p-card class="category-card">
  <div class="p-d-flex p-m-0 p-p-0 ">
    <div class="p-col">
      <h2 class="p-m-0 p-text-light">
        {{category.name}}
      </h2>
      <h5 class="p-mt-1 p-text-normal">
        {{category.numSubcategories}} subcategories.
      </h5>
    </div>
    <div class="p-col p-text-right p-as-end">
      <div class="p-d-block button-group p-mb-3">
        <button class="p-button p-button-rounded p-button-icon p-button-danger"
                icon="pi pi-trash"
                (click)="onClickDelete()"
                pButton></button>
        <button class="p-button blue-button p-button-rounded p-button-icon p-ml-3"
                icon="pi pi-pencil"
                (click)="onClickEdit()"
                pButton></button>
      </div>
    </div>
  </div>
</p-card>
