<div class="centered">
    <div *ngIf="!passwordStage; else password" class="login-card">
        <div class="separated-list">
            <div class="login-info">
                <div class="main-info login-info">
                    <div class="logo">
                        kultura
                    </div>
                    <div class="title">
                        Sign in
                    </div>
                    <div class="message">
                        Proceed to our website 
                    </div>
                </div>
                
                <input [(ngModel)]="email" required type="text" placeholder="Email" class="loginput">
                <div class="message">
                    Forgot your password?
                    <span class="link">
                        Reset it
                    </span>
                </div>
            </div>
            <div class="buttons separated-row">
                <div class="link">New account</div>
                <button (click)="onProceed()" class="btn">
                    PROCEED
                </button>
            </div>
        </div>
    </div>
    <ng-template #password>
        <div class="login-card">
            <div class="separated-list">
                <div class="login-info">
                    <div class="main-info login-info">
                        <div class="logo">
                            kultura
                        </div>
                        <div class="title">
                            Welcome
                        </div>
                        <div class="message">
                            {{email}}
                        </div>
                    </div>
                    
                    <input [(ngModel)]="pword" type="password" placeholder="Password" class="loginput">
                    <div class="message">
                        Forgot your password?
                        <span class="link">
                            Reset it
                        </span>
                    </div>
                </div>
                <div class="buttons separated-row">
                    <div class="link">Switch account</div>
                    <button class="btn">
                        SIGN IN
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</div>