<div class="p-grid p-mx-0 p-justify-center centered-grid">
  <div class="p-col-12 p-sm-12 p-md-12 p-lg-9 p-xl-9">
    <p-card>
      <div class="list-header p-d-flex p-ai-center">
        <h2 class="p-text-light">Showing all categories</h2>
      </div>
    <!--  <app-category-list-item *ngFor="let category of categoriesList"-->
    <!--                          [category]="category">-->
    <!--  </app-category-list-item>-->
      <div
        *ngFor="let category of categoriesList"
        class="p-mb-3"
      >
        <app-category-list-item [category]="category">
        </app-category-list-item>
      </div>


    <!--  <button class="primary add-button p-button-rounded p-button-raised p-button-icon p-ripple"-->
    <!--          icon="pi pi-plus"-->
    <!--          pButton-->
    <!--          routerLink="/add-moderator"-->
    <!--          type="button"-->
    <!--  ></button>-->
    </p-card>
  </div>
</div>
