<div>
  <div class="p-card-header">
    <div class="p-grid p-justify-center">
      <p class="logo p-mt-5 p-mb-0">kultura</p>
    </div>
    <div class="p-grid p-justify-center">
      <h2 class="p-mt-1 p-mb-0 p-text-light">Welcome, {{ name }}</h2>
    </div>
  </div>
  <div class="p-card-content">
    <form (ngSubmit)="onClickLogin()">
      <div class="p-grid p-px-5">
        <div class="p-col-12">
            <span class="p-float-label">
              <input type="password"
                     id="password"
                     name="password"
                     autocomplete="off"
                     [formControl]="passwordForm"
                     [feedback]="false"
                     pPassword>
              <label for="password">Password</label>
            </span>
        </div>
        <div class="p-col-12 p-mt-0">
          <small class="p-text-light">Contact an admin to reset your password.</small>
        </div>
      </div>
      <div class="p-grid p-px-5 p-justify-end p-mt-5">
        <div class="p-col">
          <button type="button" class="p-button-text" label="Switch account" (click)="onSwitchAccount()" pButton></button>
        </div>
        <div class="p-col p-text-right">
          <button type="submit"
                  class="p-button"
                  label="Sign in"
                  [disabled]="!passwordForm.value"
                  pButton></button>
        </div>
      </div>
    </form>
  </div>
</div>
