
.large-text{
    font-size: 20px;
}

.right-side-info {
  background-color: #FCF7F8;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 4vh;
}

::ng-deep .p-card {
  border-radius: 1em;
}
