<div class="posts">
  <div class="p-grid p-px-0 p-m-0 p-py-3">
    <div class="p-d-none p-d-lg-block p-col p-lg-3">
      <div #briefInfoCard [ngClass]="{'absolute-info': stickBriefInfoValue, 'relative-info': !stickBriefInfoValue}">
        <p-card styleClass="card">
          <h3 class="p-text-bold p-mb-0 p-mt-0">
            Brief info
          </h3>
          <div class="p-d-inline-flex p-mt-2 p-mb-0">
            <i class="pi pi-info-circle" style="font-size: 2rem"></i>
            <div class="p-ml-2 p-flex-wrap">
              <p class="p-text-normal p-my-0"
                 *ngIf="!!culturalOffering; else briefInfoSkeleton"
              >{{culturalOffering?.briefInfo}}</p>
              <ng-template #briefInfoSkeleton>
                <p-skeleton shape="rectangle"></p-skeleton>
              </ng-template>
            </div>
          </div>
          <div class="p-d-inline-flex p-mt-3 p-mb-0">
            <i class="pi pi-map-marker" style="font-size: 2rem"></i>
            <div class="p-ml-2 p-flex-wrap">
              <p class="p-text-normal p-my-0"
                 *ngIf="!!culturalOffering; else addressSkeleton"
              >{{culturalOffering?.address}}</p>
            </div>
            <ng-template #addressSkeleton>
              <p-skeleton shape="rectangle"></p-skeleton>
            </ng-template>
          </div>
        </p-card>
      </div>
    </div>
    <div class="p-col-12 p-lg-9">
      <p-card class="new-post-card" *ngIf="getUserRole() === 'MODERATOR'">
        <h3 class="p-mt-0 p-mb-3 p-text-normal">
          Announce some news...
        </h3>
        <textarea [maxLength]="1000"
                  [rows]="5"
                  [(ngModel)]="newPostContent"
                  [autoResize]="true"
                  placeholder="Start typing..."
                  id="new-post-input"
                  pInputTextarea
        >
        </textarea>
        <div class="p-text-right">
          <button class="p-button p-button-text p-button-plain"
                  icon="pi pi-caret-right"
                  label="Announce"
                  id="announce-button"
                  (click)="onClickAnnounce()"
                  pButton>
          </button>
        </div>
      </p-card>
      <p-card class="post-card" *ngIf="(getUserRole() === 'USER' || !isLoggedIn()) && posts.length === 0">
        <h3 class="p-text-normal">There are no posts to show right now...</h3>
      </p-card>
      <div infinite-scroll
           (scrolled)="onScrollDown()">
        <p-card class="post-card p-pt-0" *ngFor="let post of posts; let index = index;">
          <div class="p-text-light time p-d-flex post-header">
            <p class="p-mb-0">{{ relativeTimeAdded(post.timeAdded) }}</p>
            <p-menu [model]="getMenuItems(post, index)" [popup]="true" #menu></p-menu>
            <button class="p-ml-auto options-button p-button p-button-icon p-button-text"
                    icon="pi pi-ellipsis-h"
                    *ngIf="getUserRole() === 'MODERATOR'"
                    (click)="menu.toggle($event)"
                    [id]="'options-num' + index"
                    pButton
            ></button>
          </div>
          <p class="p-mt-0 p-mb-2" [id]="'post-num' + index">{{ post.content }}</p>
        </p-card>
        <div class="p-text-center">
          <p-progressSpinner *ngIf="isPostsLoading"></p-progressSpinner>
        </div>
      </div>
    </div>
  </div>
  <p-scrollTop [threshold]="300"></p-scrollTop>
  <p-dialog header="Edit"
            [resizable]="false"
            [(visible)]="isEditDialogOpen"
            [blockScroll]="true"
            [modal]="true"
  >
    <textarea style="width: 500px"
              [maxLength]="1000"
              [rows]="5"
              [(ngModel)]="editContent"
              [autoResize]="true"
              id="edit-area"
              pInputTextarea
    ></textarea>
    <div class="p-text-right">
      <button class="p-button p-button-text p-button-plain"
              icon="pi pi-caret-right"
              label="Edit"
              id="confirm-edit"
              (click)="onClickEdit()"
              pButton>
      </button>
    </div>
  </p-dialog>
</div>
