<div class="p-card p-p-6">
    <div class="p-grid">
        <div class="p-col-8">

        </div>
        <div class="p-col p-d-flex p-flex-column">
            <div class="p-d-flex p-jc-between p-mb-3">
                <div class="p-text-center" style="font-size: 24px;">
                    Add a review
                </div>
                <div class=" p-d-flex pointer"  (mouseleave)="hovered = 0">
                    <div *ngFor="let _ of ratingSize; let i = index" >
                        <i style="font-size: 20px;" [class]="['pi', i<hovered||i<rating?'pi-star':'pi-star-o']" (mouseover)="hovered = i + 1" (click)="rating = i+1"></i>
                    </div>
                </div>
            </div>
            <textarea class="rounded p-mb-3" pInputTextarea placeholder="Start typing a comment"></textarea>
            <div class="p-d-flex p-jc-between">
                <p-fileUpload chooseLabel="Add photos" mode="basic" name="demo[]" url="./upload.php" accept="image/*"></p-fileUpload>
                <button pButton type="button" label="Send review" ></button>
            </div>
        </div>
        
    </div>
    <div>
        <app-offering-ratings-list></app-offering-ratings-list>
    </div>
</div>